@media(max-width: 1024px){
    main .hero .container{
        display: flex;
        flex-direction: column;
    }

    main .hero .container .img-inicio{
        display: none;
    }

    main .sobre .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
    }

    main .sobre .container h2{
        width: 30rem;
    }

    main .sobre .container .preparo{
        display: flex;
        align-items: center;
    }

    main .populares .container .wrapper-populares,
    main .coments .container .wrapper-coments,
    main .sobre .container,
    main .coments .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 625px){
    main .coments .container .wrapper-coments .card-coments{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3rem;
        
    }

    main .coments .container .wrapper-coments .card-coments p{
        width: 27rem;
    }

    main .coments .container .wrapper-coments .card-coments .stars,
    main .localizacao .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}



    

